.slick
  .row
    %h1.ui.center.aligned.header
      Welcome you to Social of Words!
  .row
    %h1.ui.center.aligned.header
      Create dictionary by yourself
  .row
    %h1.ui.center.aligned.header
      Ask some one, who know words
  .row
    %h1.ui.center.aligned.header
      You can translate word or paragraph