.ui.feed
  .event
    .label
      %img{src: image_path("user-no-image.jpg")}
    .content
      .summary
        Translate this sentence "How are you to day?" into Vietnamese
        .date
          1 minutes ago
        .actions
        %a.reply.active Reply
